{% extends "base-predictive-content.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <title>Predictive Content | MarketoLive</title>
      
      <!-- Marketo Munchkin Tag -->
      <script type="text/javascript">
        (function () {
            var didInit = false;
            function initMunchkin() {
                document.cookie = "_mkto_trk=;domain=.marketolive.com;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT";
                console.log("Removed > Cookie: _mkto_trk");
                
                if (didInit === false) {
                    didInit = true;
                    Munchkin.init('026-COU-482', {
                        cookieLifeDays: 365,
                        cookieAnon: true,
                        disableClickDelay: false
                    });
                    console.log("Munchkin Tag Loaded");
                }
            }
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'https://munchkin.marketo.net/munchkin.js';
            s.onreadystatechange = function () {
                if (this.readyState == 'complete' || this.readyState == 'loaded') {
                    initMunchkin();
                }
            };
            s.onload = initMunchkin;
            document.getElementsByTagName('head')[0].appendChild(s);
        })();
      </script>
      
      <!-- Web Personalization Tag -->
      <script type="text/javascript">
        (function (c, h, a, f, i, e) {
            document.cookie = "trwsa.sid=;domain=.marketolive.com;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT";
            console.log("Removed > Cookie: trwsa.sid");
            document.cookie = "trwv.uid=;domain=.marketolive.com;path=/;expires=Thu, 01 Jan 1970 00:00:01 GMT";
            console.log("Removed > Cookie: trwv.uid");
            
            c[a] = c[a] || function () {
                (c[a].q = c[a].q || []).push(arguments)
            };
            c[a].a = i;
            c[a].e = e;
            var g = h.createElement("script");
            g.async = true;
            g.type = "text/javascript";
            g.src = f + '?aid=' + i;
            var b = h.getElementsByTagName("script")[0];
            b.parentNode.insertBefore(g, b);
            console.log("Web Personalization Tag Loaded");
        })(window, document, "rtp", "https://sjrtp1.marketo.com/rtp-api/v1/rtp.js", "marketodemoaccount106");
        
        rtp('send', 'view');
        rtp('get', 'campaign', true);
        rtp('set', 'rcmd', 'richmedia', 'template1', {
            "rcmd.title.text": "RECOMMENDED CONTENT",
            "rcmd.cta.text": "READ MORE",
            "rcmd.title.background.color": "#4285F4",
            "rcmd.title.font.color": "white",
            "rcmd.content.background.color": "#E2E2E2",
            "rcmd.cta.background.color": "#2BBBAD",
            "category": ["Demo"]
        });
        rtp('get', 'rcmd', 'richmedia');
      </script>
    {% endblock %}
  </head>
  <body>
    {% block navbar %}
    <!--Navbar-->
    <nav class="navbar navbar-fixed-top navbar-dark bg-primary">
      <!-- Collapse button-->
      <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx2">
      <i class="fa fa-bars"></i>
      </button>
      <div class="container">
        <!--Collapse content-->
        <div class="collapse navbar-toggleable-xs" id="collapseEx2">
          <!--Navbar Brand-->
          <a class="navbar-brand"></a>
          <!--Links-->
          <ul class="nav navbar-nav">
            <!-- <li id="navbar-logo" class="nav-item">
              <a class="nav-link">
                  <img src="../static/img/turner-travel.png">
              </a>
              </li> -->
            <li class="nav-item active">
              <a class="nav-link">Products <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Solutions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Why Turner </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Resources</a>
            </li>
          </ul>
          <ul class="nav navbar-nav nav-flex-icons">
            <li class="nav-item btn-group">
              <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Content Recommendations</a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <a class="dropdown-item" href="http://sjrtp-proxy.marketo.com/proxy/rtp/preview?rtp.cuid=a517230c-1c1b-4352-93a8-c34e0c18cfaf&_dc=1485537971286">Display Ad - Economist</a>
                <a class="dropdown-item" href="http://sjrtp-proxy.marketo.com/proxy/rtp/preview?rtp.cuid=3114493e-778b-41c0-80d6-6fe354e08623&_dc=1482955122695">Display Ad - Facebook</a>
                <a class="dropdown-item" href="http://sjrtp-proxy.marketo.com/proxy/rtp/preview?rtp.cuid=aeb1b9e1-54e8-4d9d-9a30-e5b8c103643d&_dc=1484176405996">Retargeted Website</a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">Verticals</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="assetmgmt">Asset Management</a>
                <a class="dropdown-item" href="healthcare">Healthcare</a>
                <a class="dropdown-item" href="highered">Higher Education</a>
                <a class="dropdown-item" href="manufacturing">Manufacturing</a>
                <a class="dropdown-item" href="financialservices">Retail Banking</a>
                <a class="dropdown-item" href="technology">Technology</a>
                <a class="dropdown-item" href="travel">Travel</a>         
              </div>
            </li>
          </ul>
        </div>
        <!--/.Collapse content-->
      </div>
    </nav>
    <!--/.Navbar-->
    {% endblock %} 
    {% block carousel_content %}
    <!--Carousel Wrapper-->
    <div id="carousel-example-1" class="carousel slide carousel-fade" data-ride="carousel">
      <!--Slides-->
      <div class="carousel-inner" role="listbox">
        <!--First slide-->
        <div class="carousel-item active" id="rtp-replace" style= "background-image: url(../static/img/tech_hero.jpg)";>
          <!--Caption-->
          <div class="flex-center animated fadeInDown">
            <ul>
              <li>
                <h1 class="h1-responsive">Enterprise Grade Cloud Solutions</h1>
              </li>
              <li>
                <a target="_blank" href="http://mdbootstrap.com/material-design-for-bootstrap/" class="btn btn-default btn-lg bg-primary">Learn More</a>
              </li>
            </ul>
          </div>
          <!--Caption-->
        </div>
        <!--/.First slide-->
      </div>
      <!--/.Slides-->
    </div>
    <!--/.Carousel Wrapper-->
    {% endblock %}
    {% block page_content %}
    <!--Content-->
    <div class="container">
      <div class="row">
        <!--First columnn-->
        <div class="col-md-4">
          <!--Card-->
          <div class="card">
            <!--Card image-->
            <div class="view overlay hm-white-slight">
              <img src="../static/img/tech_card1.jpg" class="img-fluid" alt="">
              <a href="#">
                <div class="mask"></div>
              </a>
            </div>
            <!--/.Card image-->
            <!--Card content-->
            <div class="card-block">
              <!--Title-->
              <h4 class="card-title">What is Hybrid Cloud ?</h4>
              <!--Text-->
              <p class="card-text">Hybrid Cloud : All the perks of private datacenter with scalability of the cloud</p>
              <a href="#" class="btn btn-primary">Learn more</a>
            </div>
            <!--/.Card content-->
          </div>
          <!--/.Card-->
        </div>
        <!--First columnn-->
        <!--Second columnn-->
        <div class="col-md-4">
          <!--Card-->
          <div class="card">
            <!--Card image-->
            <div class="view overlay hm-white-slight">
              <img src="../static/img/tech_card2.jpg" class="img-fluid" alt="">
              <a href="#">
                <div class="mask"></div>
              </a>
            </div>
            <!--/.Card image-->
            <!--Card content-->
            <div class="card-block">
              <!--Title-->
              <h4 class="card-title">Instant Data Protection</h4>
              <!--Text-->
              <p class="card-text">Check out how Turner Technologies rescued Ace Media’s data with a Hybrid Cloud Backup.</p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
            <!--/.Card content-->
          </div>
          <!--/.Card-->
        </div>
        <!--Second columnn-->
        <!--Third columnn-->
        <div class="col-md-4">
          <!--Card-->
          <div class="card">
            <!--Card image-->
            <div class="view overlay hm-white-slight">
              <img src="../static/img/tech_card3.jpg" class="img-fluid" alt="">
              <a href="#">
                <div class="mask"></div>
              </a>
            </div>
            <!--/.Card image-->
            <!--Card content-->
            <div class="card-block">
              <!--Title-->
              <h4 class="card-title">Industry Case Study</h4>
              <!--Text-->
              <p class="card-text">See how our Cloud Solutions are helping our Financial Customers achieve Data Compliance requirements.</p>
              <a href="#" class="btn btn-primary">Watch Video</a>
            </div>
            <!--/.Card content-->
          </div>
          <!--/.Card-->
        </div>
        <!--Third columnn-->
      </div>
      <aside id="mk-sidebar" class="mk-builtin">
        <div class="sidebar-wrapper">
          <style>
            .RTP_RCMD2 {
              line-height: normal !important;
            }
            .RTP_RCMD2 [data-rtp-id="rtp_rcmd2_tpl_2"] .rtp_rcmd2_img_container {
              height: 100% !important;
            }
          </style>
          <div class="RTP_RCMD2" data-rtp-template-id="template1"></div>
        </div>
      </aside>
    </div>
    <!--/.Content-->
    {% endblock %}		        
  </body>
</html>