<html>
	<head>
		<title>Google Search - DVR</title>
		<style>
			body {
				background-image: url("/images/dvr_seo.jpg");
				background-color: #FFFFFF;
				background-size: 1620px auto;
				background-repeat: no-repeat;
				height: 1000px;
			}

				#bglink	{
								display:block;
								height:100%;
								width:100%;
								position:fixed;
								left:0;
								top:0;
								z-index:0;
								text-indent:-5000em;
								/* If you want to make only a part of background clickable,
								     adjust height/width/left/top here. */
				}			
		</style>
		


	</head>
<body>
<a href="/wsj" id="bglink"></a>

</body>
</html>	
